*.spec
*.bin
*.elf
*.hex
/build/
/libraries/
.arduino/
arduino_build_*/
arduino_cache_*/

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

node_modules/
edge-impulse-cli/
*.log

.DS_Store
.vscode/
.idea/
*.swp
*~
*.db
*.db-shm
*.db-wal